<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" href="unnamed.ico">
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat-da-Burger!</title>
	</head>
	<body>
	<img src="https://aht.seriouseats.com/images/20110131-modernist-cuisine-burger.jpg" alt="some_text" style="width:width;height:height;">
		{{{ body }}}
	</body>
</html>
